<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h2 class="card-title">TableSortable</h2>
            <p class="card-text">TableSortable is a custom element to display any arbitrary data in a sortable data table</p>
        </div>
    </div>
</div>

<section class="row m-a">
    <div class="col-md-8">
        <table-sortable
            [columns]="columns"
            [data]="rows"
            [sort]="sorting">
            Loading table...
        </table-sortable>
    </div>
</section>

<div class="source">
<h3>Import</h3>
<pre>
<code class="language-javascript" code-highlight>
import {{'{'}}FuiTableSortableModule{{'}'}} from 'fuel-ui'; //module
import {{'{'}}TableSortable, TableSortableColumn, TableSortableSorting{{'}'}} from 'fuel-ui'; //class
</code>
</pre>

<h3>Getting Started</h3>
<p>TableSortable is a custom element to display any arbitrary data in a sortable table</p>

<h3>Usage</h3>
<tabset>
<tab heading="HTML">
<pre>
<code class="language-markup" code-highlight [innerHTML]="codeExample1">

</code>
</pre>
</tab>
<tab heading="TypeScript">
<pre>
<code class="language-javascript" code-highlight [innerHTML]="codeExample2">
</code>
</pre>
</tab>
</tabset>

<h3>Attributes</h3>
<table-sortable
    [columns]="attributesColumns"
    [data]="attributes"
    [sort]="attributesSort">
    Loading table...
</table-sortable>

</div>
