.fuel-ui-collapse {
    display: none;
    
    &.in {
        display: block;
    }
}

.fuel-ui-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility, padding;
    -o-transition-property: height, visibility, padding;
    transition-property: height, visibility, padding;
}