@import "framework";

@include keyframes(slideInLeft) {
	0% {
  		@include transform(translateX(100%));
  	}
	100% {
  		@include transform(translateX(0));
  	}
}

@include keyframes(slideInRight) {
	0% {
  		@include transform(translateX(-100%));
  	}
	100% {
  		@include transform(translateX(0));
  	}
}

@include keyframes(slideOutLeft) {
	0% {
  		@include transform(translateX(0));
  	}
	100% {
  		@include transform(translateX(-100%));
  	}
}

@include keyframes(slideOutRight) {
	0% {
  		@include transform(translateX(0));
  	}
	100% {
  		@include transform(translateX(100%));
  	}
}

.test-animation-a {
	@include animation(slideInLeft 1s ease);
}

.test-animation-b {
	@include animation(slideOutRight 1s ease);
}

.test-box {
	width: 50px;
	height: 50px;
	background: blue;
}