<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h2 class="card-title">Installation</h2>
            <p class="card-text">
                Fork our Quickstart! <a href="https://github.com/coryshaw1/ng2-play/" target="_blank">https://github.com/coryshaw1/ng2-play/</a><br/>
                <!--Fork our angular-cli Quickstart! <a href="https://github.com/FuelInteractive/fuel-ui-cli-quickstart/" target="_blank">https://github.com/FuelInteractive/fuel-ui-cli-quickstart/</a>-->
            </p>
        </div>
    </div>
</div>

<accordion>
    <div accordion-item class="fuel-ui-accordion" #manually [open]="true">
        <div accordion-heading class="fuel-ui-accordion-heading fuel-ui-clickable">
            Manually
            <i class="pull-right fa"
                [ngClass]="{'fa-chevron-down': manually?.open, 'fa-chevron-right': !manually || !manually.open}"></i>
        </div>
        <div class="fuel-ui-accordion-body">
            <p>If you would like to add Fuel-UI to your Angular2 project through npm manually, do the following:</p>

<pre>
<code class="language-bash" code-highlight>
npm install fuel-ui --save
</code>
</pre>

            <p>Then simply add the proper module(s) to your base component</p>

<pre>
<code class="language-javascript" code-highlight>
import {{'{'}} FuelUiModule {{'}'}} from 'fuel-ui';

@NgModule({{'{'}}
  bootstrap: [ YourBaseComponent ],
  declarations: [ YourBaseComponent, ... ],
  imports: [ FuelUiModule, ... ],
  providers: [ ... ]
{{'}'}})
</code>
</pre>
            <p><code>FuelUiModule</code> will add access to every Fuel-UI module to your project. If you wish to minimize the amount of imports, you can also mix and match the following modules:</p>

<pre>
<code class="language-javascript" code-highlight>
import {{'{'}}
  FuiAnimationsModule,  //All animations
  FuiComponentsModule,  //All components
  FuiDirectivesModule,  //All directives
  FuiPipesModule //All pipes
{{'}'}} from 'fuel-ui';

@NgModule({{'{'}}
  bootstrap: [ YourBaseComponent ],
  declarations: [ YourBaseComponent, ... ],
  imports: [ FuiAnimationsModule, FuiComponentsModule, FuiDirectivesModule, FuiPipesModule, ... ],
  providers: [ ... ]
{{'}'}})
</code>
</pre>

          <p>To make your imports even more modular, every demo page will have the Fuel-UI component/directive/etc's module. This way you'll be able to import even less. <code>FuiDatePickerModule</code> for example.</p>
        </div>
    </div>
    <div accordion-item class="fuel-ui-accordion" #manuallyCli>
        <div accordion-heading class="fuel-ui-accordion-heading fuel-ui-clickable">
            Manually with <a href="https://github.com/angular/angular-cli">angular-cli</a>
            <i class="pull-right fa"
                [ngClass]="{'fa-chevron-down': manuallyCli?.open, 'fa-chevron-right': !manuallyCli || !manuallyCli.open}"></i>
        </div>
        <div class="fuel-ui-accordion-body">
          Work in progress...
<!--
<pre>
<code class="language-bash" code-highlight>
ng new example-project
cd example-project
npm install fuel-ui font-awesome bootstrap@4.0.0-alpha.5 --save
</code>
</pre>

            <p>Go to your <code>angular-cli-build.js</code> file, and add the following to your <code>vendorNpmFiles</code> array:</p>

<pre>
<code class="language-markup" code-highlight>
'bootstrap/**/bootstrap.min.css',
'font-awesome/**/font-awesome.min.css',
'font-awesome/fonts/*',
'fuel-ui/bundles/*'
</code>
</pre>

            <p>Now build the project to copy over the necessary files to your vendor directory</p>

<pre>
<code class="language-markup" code-highlight>
ng build
</code>
</pre>

            <p>Then simply add the proper module(s) to your base component</p>

<pre>
<code class="language-javascript" code-highlight>
import {{'{'}} FuelUiModule {{'}'}} from 'fuel-ui';

@NgModule({{'{'}}
  bootstrap: [ YourBaseComponent ],
  declarations: [ YourBaseComponent, ... ],
  imports: [ FuelUiModule, ... ],
  providers: [ ... ]
{{'}'}})
</code>
</pre>
-->
        </div>
    </div>
</accordion>
