<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h2 class="card-title">Installation</h2>
            <p class="card-text">
                Fork our Webpack Quickstart! <a href="https://github.com/coryshaw1/ng2-play/" target="_blank">https://github.com/coryshaw1/ng2-play/</a><br/>
                Fork our angular-cli Quickstart! <a href="https://github.com/FuelInteractive/fuel-ui-cli-quickstart/" target="_blank">https://github.com/FuelInteractive/fuel-ui-cli-quickstart/</a>
            </p>
        </div>
    </div>
</div>

<accordion>
    <div accordion-item class="fuel-ui-accordion" #webpack [open]="true">
        <div accordion-heading class="fuel-ui-accordion-heading fuel-ui-clickable">
            Webpack
            <i class="pull-right fa"
                [ngClass]="{'fa-chevron-down': webpack?.open, 'fa-chevron-right': !webpack || !webpack.open}"></i>
        </div>
        <div class="fuel-ui-accordion-body">
            <p>If you would like to add Fuel-UI to your Angular2 Webpack project through npm manually, do the following:</p>

<pre>
<code class="language-bash" code-highlight>
npm install fuel-ui --save
</code>
</pre>

            <p>You then need to make sure you add references to the following:</p>

            <ul>
              <li><a target="_blank" href="http://v4-alpha.getbootstrap.com/">Bootstrap 4</a></li>
              <li><a target="_blank" href="http://fontawesome.io/">Font Awesome</a></li>
              <li><a target="_blank" href="https://github.com/FuelInteractive/fuel-ui/">Fuel-UI CSS Bundle</a> (for Tooltips and CodeHighlighter, will be in `node_modules/fuel-ui/bundles/fuel-ui.css`)</li>
            </ul>

            <p>There are different ways of doing adding these. In our <a target="_blank" href="https://github.com/FuelInteractive/fuel-ui/">Github project</a>, we use Webpack loaders to achieve this where we can (see <a target="_blank" href="https://github.com/shakacode/bootstrap-loader">bootstrap-loader</a> and <a target="_blank" href="https://github.com/gowravshekar/font-awesome-webpack">font-awesome-webpack</a>). You may also just simply add the vendor CSS files to the head. <i>You do not need the javascript for these</i></p>

            <p>Then simply add the proper module(s) to your base component</p>

<pre>
<code class="language-javascript" code-highlight>
import {{'{'}} FuelUiModule {{'}'}} from 'fuel-ui';

@NgModule({{'{'}}
  bootstrap: [ YourBaseComponent ],
  declarations: [ YourBaseComponent, ... ],
  imports: [ FuelUiModule, ... ],
  providers: [ ... ]
{{'}'}})
</code>
</pre>
            <p><code>FuelUiModule</code> will add access to every Fuel-UI module to your project. If you wish to minimize the amount of imports, you can also mix and match the following modules:</p>

<pre>
<code class="language-javascript" code-highlight>
import {{'{'}}
  FuiAnimationsModule,  //All animations
  FuiComponentsModule,  //All components
  FuiDirectivesModule,  //All directives
  FuiPipesModule //All pipes
{{'}'}} from 'fuel-ui';

@NgModule({{'{'}}
  bootstrap: [ YourBaseComponent ],
  declarations: [ YourBaseComponent, ... ],
  imports: [ FuiAnimationsModule, FuiComponentsModule, FuiDirectivesModule, FuiPipesModule, ... ],
  providers: [ ... ]
{{'}'}})
</code>
</pre>

          <p>To make your imports even more modular, every demo page will have the Fuel-UI component/directive/etc's module. This way you'll be able to import even less. <code>FuiDatePickerModule</code> for example.</p>
        </div>
    </div>
    <div accordion-item class="fuel-ui-accordion" #cli>
        <div accordion-heading class="fuel-ui-accordion-heading fuel-ui-clickable">
            <a href="https://github.com/angular/angular-cli">angular-cli</a>
            <i class="pull-right fa"
                [ngClass]="{'fa-chevron-down': cli?.open, 'fa-chevron-right': !cli || !cli.open}"></i>
        </div>
        <div class="fuel-ui-accordion-body">

<pre>
<code class="language-bash" code-highlight>
ng new example-project
cd example-project
npm install fuel-ui font-awesome bootstrap@4.0.0-alpha.5 --save
</code>
</pre>

            <p>Go to your <code>angular-cli.json</code> file, and add the following to your <code>styles</code> array:</p>

<pre>
<code class="language-markup" code-highlight>
"../node_modules/bootstrap/dist/css/bootstrap.min.css",
"../node_modules/font-awesome/css/font-awesome.min.css",
"../node_modules/fuel-ui/bundles/fuel-ui.css"
</code>
</pre>

            <p>Next, still within your <code>angular-cli.json</code> file, add the following to your <code>addons</code> array:</p>

<pre>
<code class="language-markup" code-highlight>
"../node_modules/font-awesome/fonts/*.+(otf|eot|svg|ttf|woff|woff2)"
</code>
</pre>

            <p>Now build the project to copy over the necessary files</p>

<pre>
<code class="language-markup" code-highlight>
ng build
</code>
</pre>

            <p>Then simply add the proper module(s) to your base component</p>

<pre>
<code class="language-javascript" code-highlight>
import {{'{'}} FuelUiModule {{'}'}} from 'fuel-ui';

@NgModule({{'{'}}
  bootstrap: [ YourBaseComponent ],
  declarations: [ YourBaseComponent, ... ],
  imports: [ FuelUiModule, ... ],
  providers: [ ... ]
{{'}'}})
</code>
</pre>
        </div>
    </div>
</accordion>
