<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h2 class="card-title">Alert</h2>
            <p class="card-text">Alert is a custom component to display informational messages</p>
        </div>
    </div>
</div>

<alert
    [(displayed)]="showAlert"
    [type]="alertType"
    [closeDelay]="closeDelay">
    <span [innerHtml]="alertBody"></span>
</alert>
<button class="btn btn-success" (click)="showSuccess()">Show Alert Success</button>
<button class="btn btn-danger" (click)="showError()">Show Alert Error</button>
<button class="btn btn-info" (click)="showDelay()">Show Delayed Close Error</button>

<div class="source">
<h3>Import</h3>
<pre>
<code class="language-javascript" code-highlight>
import {{'{'}}Alert{{'}'}} from 'fuel-ui/fuel-ui';
</code>
</pre>

<h3>Getting Started</h3>
<p>Alert is a custom element to programmatically display feedback messages typically for user actions</p>

<h3>Usage</h3>
<tabset>
<tab heading="HTML">
<pre>
<code class="language-markup" code-highlight>
&lt;alert [(displayed)]=&quot;showAlert&quot; type=&quot;success&quot; [closeButton]=&quot;false&quot;&gt;
    &lt;strong&gt;Success!&lt;/strong&gt; Your alert is showing!
&lt;/alert&gt;
</code>
</pre>
</tab>
<tab heading="TypeScript">
<pre>
<code class="language-javascript" code-highlight>
export class AlertExample {{'{'}}
    showAlert: boolean = false;
{{'}'}}
</code>
</pre>
</tab>
</tabset>

<h3>Attributes</h3>
<table-sortable
    [columns]="attributesColumns"
    [data]="attributes"
    [sort]="attributesSort">
    Loading table...
</table-sortable>

</div>