<span *ngIf="text">
    {{text | slice : 0 : (expanded ? text.length : amountOfCharacters())}}
    <span *ngIf="!expanded && text.length > amountOfCharacters()">
        <span *ngIf="ellipsis">&hellip;</span>
        <a href="javascript:void(8);" (click)="toggleExpand()">
            {{expandText}}
        </a>
    </span>
    <span *ngIf="expanded && text.length > amountOfCharacters()">
        <a href="javascript:void(8);" (click)="toggleExpand()">
            {{shrinkText}}
        </a>
    </span>
</span>