<span *ngIf="text">
    {{text | slice : 0 : (expanded ? text.length : amountOfCharacters())}}
    <span *ngIf="!expanded && text.length > amountOfCharacters()">
        <span *ngIf="ellipsis">&hellip;</span>
        <a [innerHtml]="expandText" href="javascript:void(8);" (click)="toggleExpand()">
        </a>
    </span>
    <span *ngIf="expanded && text.length > amountOfCharacters()">
        <a [innerHtml]="shrinkText" href="javascript:void(8);" (click)="toggleExpand()">
        </a>
    </span>
</span>