@import "../../styles/variables";
@import "../../styles/bourbon";

.date-picker-overlay {
    background-color: rgba(0,0,0,0);
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.date-picker-component {
    border: 1px solid $table-border-color;
    position: absolute;
    z-index: 101;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    background-color: $body-bg;
    font-size: .75rem;
    width: 350px;
    @if $enable-rounded {
        border-radius: $border-radius-lg;
    }
    
    @include transition(all .1s ease);
}

table {
	font-size: .75rem;
}

.input-group-addon {
	background-color: $input-bg;
	border-left: none;
}

header {
	position: relative;
	top: 0;
	left: 0;
    vertical-align: middle;
    .days-of-week {
        background-color: $brand-primary;
        color: $btn-primary-color;
    }
    
    table{
        border-top: none !important;
    }
    
    th, td {
        text-align: center;
    }
    
    button {
        border: none;
        border-radius: 0;
        color: $brand-primary; 
        background-color: $input-bg;
    }
    
    button:active {
        background-color: $input-bg-disabled;
    }
    
    input {
        border: none;
        width: 37% !important;
        display: inline-block;
        margin: 0 auto;
    }
}

.prev-month, .next-month {
	position: absolute;
	top: 0;
	display: inline-block;
	z-index: 100;
	margin-top: .2rem;
	.btn-sm {
		padding: .1rem .7rem;
	}
}

.prev-month {
	left: 0;
	margin-left: 4%;
}

.next-month {
	right:0;
	margin-right: 4%;
}

.calendar-container {
	box-shadow: inset 0px 5px 1px rgba(0, 0, 0, 0.1);
}