@import "../../styles/variables";
@import "../../styles/bourbon";
@import "../../styles/media_queries";

.date-picker-overlay {
    background-color: rgba(0,0,0,0);
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    
    @include mobile-only {
        background-color: $gray;
        opacity: .75;
    }
}

.date-picker-component {
    border: 1px solid $table-border-color;
    z-index: 120;
    background-color: $body-bg;font-size: .75rem;
    position: absolute;
    width: 350px;
    height: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    @if $enable-rounded {
        border-radius: $border-radius-lg;
    }
    
    @include transition(all .1s ease);
    
    @include mobile-only {
        width: 90%;
        height: 90%;
        position: fixed;
        top: 5%;
        left: 5%;
        font-size: 1.25rem;
    }
}

table {
    font-size: .75rem;
    
    @include mobile-only {
        font-size: 1.25rem;
    }
}

.input-group {
    z-index: 110;
}

input:read-only {
    background-color: $input-bg;
} 

.input-group-addon {
    background-color: $input-bg;
}

header {
	position: relative;
	top: 0;
	left: 0;
    vertical-align: middle;
    background-color: $input-bg;
    
    .days-of-week {
        background-color: $brand-primary;
        color: $btn-primary-color;
    }
    
    table{
        border-top: none !important;
    }
    
    th, td {
        text-align: center;
        
        @include mobile-only {
            font-size: 2.5rem;
        }
    }
    
    button {
        border: none;
        border-radius: 0;
        color: $brand-primary; 
        background-color: $input-bg;
        width: 15%;
        
        @include mobile-only {
            font-size: 2.5rem;
            margin-top: .5rem;
        }
    }
    
    button:active {
        background-color: $input-bg-disabled;
    }
    
    .button-disable {
        color: $input-bg-disabled;
        cursor: default;
    }
    
    .date-range {
        width: 70%;
    }
    
    .date-range span {
        background-color: $gray-lighter;
        border-left: none;
        border-right: none;
        
        @include mobile-only {
            font-size: 2.5rem;
        }
    }
    
    .input-group-addon {
        border: none;
        background-color: $input-bg !important;
        
        @include mobile-only {
            font-size: 1.5rem;
        }
    }
    
    input {
        border: none;
        display: inline-block;
        margin: 0 auto;
        /*border: 1px solid #ccc;*/
        
        @include mobile-only {
            font-size: 2.5rem;
        }
    }
    
    input:read-only {
        background-color: $body-bg;
    }
    
    input.target {
        color: $brand-primary;
        @include placeholder {
            color: $brand-primary;
        }
    }
}

.prev-month, .next-month {
	position: absolute;
	top: 0;
	display: inline-block;
	z-index: 100;
	margin-top: .2rem;
	.btn-sm {
		padding: .1rem .7rem;
	}
}

.prev-month {
	left: 0;
	margin-left: 4%;
}

.next-month {
	right:0;
	margin-right: 4%;
}

.container {
    height: 100%;
}

.calendar-container {    
    @include mobile-only {
        height: 91%;
    }
}