<div class="input-group" (click)="showCalendar($event)">
	<input type="text" class="form-control"
		[(ngModel)]="inputDate" 
		 #dateField
		 />
	<span class="input-group-addon" [class.input-group-addon-focus]="dateField.focus">
		<i class="fa fa-calendar"></i>
	</span>
</div>

<div class="date-picker-overlay" 
    *ngIf="calendarDisplayed" 
    (click)="hideCalendar()">
</div>

<section class="date-picker-component" *ngIf="calendarDisplayed">
<div class="" role="document"
    [style.top.px]="calendarY"
    [style.left.px]="calendarX">
<div class="container p-a-0">
    <header>
        <button type="button" class="btn btn-secondary pull-left"
            [class.disabled]="!canPrevMonth()" 
            (click)="scrollPrevMonth()">
            <i class="fa fa-chevron-left"></i>
        </button>
        <input type="text" class="form-control text-xs-center" 
            id="startDate" [(ngModel)]="inputDate" />
        <input type="text" class="form-control text-xs-center" 
            id="endDate" [(ngModel)]="inputDate" />
        <button type="button" class="btn btn-secondary pull-right"
            [class.disabled]="!canNextMonth()"
            (click)="scrollNextMonth()">
            <i class="fa fa-chevron-right"></i>
        </button>
        <table class="table m-b-0 days-of-week">
            <tbody>
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>
            </tbody>
        </table>
    </header>
    <section class="calendar-container m-a-0">
        <infinite-scroller
            (next)="addNextMonth()"
            (prev)="addPrevMonth()"
            height="300"
            distance="100"
            hideScrollbar="true">
            <date-picker-calendar scroll-item
                *ngFor="#month of calendarMonths #i=index" 
                [id]="i"
                [minDate]="minDate" [maxDate]="maxDate"
                [dateFilter]="dateFilter"
                [currentMonth]="month" 
                [(selectedDate)]="selectedDate" 
                (selectedDate)="hideCalendar()">
                {{i}}
            </date-picker-calendar>
        </infinite-scroller>
    </section>
</div>
</div>
</section>
