<div class="input-group" (click)="showCalendar($event)">
	<input type="text" class="form-control"
		[(ng-model)]="inputDate" 
		 #date-field
		 />
	<span class="input-group-addon" [class.input-group-addon-focus]="dateField.focus">
		<i class="fa fa-calendar"></i>
	</span>
</div>

<section class="modal ng-animate" *ng-if="calendarDisplayed">
<div class="modal-dialog" role="document"
	[style.top.px]="calendarY"
	[style.left.px]="calendarX">
<div class="modal-content container p-a-0">
	<header class="row">
		<div class="prev-month">
			<button class="btn btn-primary btn-sm" role="prev"
				[class.disabled]="!canPrevMonth()"			 
				(click)="prevMonth()">
				<i class="fa fa-chevron-circle-left"></i>
			</button>
		</div>
		<div class="next-month">
			<button class="btn btn-primary btn-sm" role="next"
				[class.disabled]="!canNextMonth()"
				(click)="nextMonth()">
				<i class="fa fa-chevron-circle-right"></i>
			</button>
		</div>
	</header>
	<section class="calendar-container">
		<date-picker-calendar animation
			*ng-for="#month of calendarMonths #i=index"
			class="col-md-{{12/months}} p-a-0"
			[style.margin-left]="(i!=months||direction!='right'?0:-100/months)+'%'" 
			[id]="i"
			[min-date]="minDate" [max-date]="maxDate"
			[current-month]="month" 
			[(selected-date)]="selectedDate" 
			(selected-date)="hideCalendar()"
			 />
	</section>
</div>
</div>
</section>