<div class="input-group" (click)="showCalendar($event)">
	<input type="text" class="form-control"
		[(ngModel)]="inputDate" 
		 #dateField
		 />
	<span class="input-group-addon" [class.input-group-addon-focus]="dateField.focus">
		<i class="fa fa-calendar"></i>
	</span>
</div>

<section class="date-picker-component" *ngIf="calendarDisplayed">
<div class="" role="document"
	[style.top.px]="calendarY"
	[style.left.px]="calendarX">
<div class="container p-a-0">
	<header>
		<!--<div class="prev-month">
			<button class="btn btn-primary btn-sm" role="prev"
				[class.disabled]="!canPrevMonth()"			 
				(click)="prevMonth()">
				<i class="fa fa-chevron-circle-left"></i>
			</button>
		</div>
		<div class="next-month">
			<button class="btn btn-primary btn-sm" role="next"
				[class.disabled]="!canNextMonth()"
				(click)="nextMonth()">
				<i class="fa fa-chevron-circle-right"></i>
			</button>
		</div>-->
        <div>
            <button type="button" class="btn btn-secondar pull-left"
                [class.disabled]="!canPrevMonth()" 
                (click)="scroller.scrollToIndex(scroller.topIndex-1)">
                <i class="fa fa-chevron-left"></i>
            </button>
            <time>
                selected date
            </time>
            <button type="button" class="btn btn-secondary pull-right"
                [class.disabled]="!canNextMonth()"
                (click)="scroller.scrollToIndex(scroller.topIndex+1)">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
        <table class="table m-b-0 days-of-week">
            <tbody>
            <tr>
				<th>S</th>
				<th>M</th>
				<th>T</th>
				<th>W</th>
				<th>T</th>
				<th>F</th>
				<th>S</th>
			</tr>
            </tbody>
        </table>
	</header>
    <section class="calendar-container m-a-0">
        <infinite-scroller #scroller
            (next)="addNextMonth()"
            (prev)="addPrevMonth()"
            height="250"
            distance="50"
            hideScrollbar="true">
            <date-picker-calendar scroll-item
                *ngFor="#month of calendarMonths #i=index" 
                [id]="i"
                [minDate]="minDate" [maxDate]="maxDate"
                [currentMonth]="month" 
                [(selectedDate)]="selectedDate" 
                (selectedDate)="hideCalendar()">
                {{i}}
            </date-picker-calendar>
        </infinite-scroller>
    </section>
</div>
</div>
</section>