@import "../../styles/variables";
@import "../../styles/bourbon";
@import "../../styles/media_queries";

.table {
	font-size: .75rem;
	border-top: 1px solid $table-border-color;
    background-color: $body-bg;
}

tr {
	border: none;
}

th, td {
	text-align: center;
	vertical-align: middle;
    font-size: 1rem;
    padding: .1rem;
	height: 1.75rem;
	border: none;
    
    @include mobile-only {
        padding: .5rem;
        font-size: 1.5rem;
    }
}

td.selectable {
	cursor: pointer !important;
	/*border: 1px solid $table-border-color;*/
}

td.selectable:hover {
	background-color: $brand-primary;
	color: $body-bg;
}

td.selected {
	background-color: desaturate(lighten($brand-primary, 25%), 25%);
	color: $body-bg;
}

td.disabled {
	/*background-color: lighten($input-bg-disabled, 5%);*/
	color: desaturate(lighten($btn-link-disabled-color, 25%), 25%);
}