@import "../../styles/variables";
@import "../../styles/bourbon";
//@import "../../styles/bootstrapMixins";

$duration: .5s;

.modal {
	display: block;
}

.modal-zoom-in {
	@include animation(zoomInDown $duration ease);
}

.modal-zoom-out {
	@include animation(zoomOutUp $duration ease);
}

.modal-dialog {
	//width: 300px;
	display: inline-block;
}

date-picker-calendar {
	padding: 0;
}


.input-group-addon {
	background-color: $input-bg;
	border-left: none;
}

header {
	position: relative;
	top: 0;
	left: 0;
}

.prev-month, .next-month {
	position: absolute;
	top: 0;
	//width: 4em;
	margin-top: .5em;
	display: inline-block;
}

.prev-month {
	left: 0;
	margin-left: 1.5%;
}

.next-month {
	right:0;
	margin-right: 1.5%;
}
