@import "../../styles/variables";
@import "../../styles/bourbon";

.date-picker-component {
    border: 1px solid $table-border-color;
}

.table {
	font-size: .75rem;
}

.input-group-addon {
	background-color: $input-bg;
	border-left: none;
}

header {
	position: relative;
	top: 0;
	left: 0;
    background-color: $brand-primary;
    color: $btn-primary-color;
}

.prev-month, .next-month {
	position: absolute;
	top: 0;
	display: inline-block;
	z-index: 100;
	margin-top: .2rem;
	.btn-sm {
		padding: .1rem .7rem;
	}
}

.prev-month {
	left: 0;
	margin-left: 4%;
}

.next-month {
	right:0;
	margin-right: 4%;
}

.calendar-container {
	box-shadow: inset 0px 5px 1px rgba(0, 0, 0, 0.1);
}