@import "../../styles/variables";
@import "../../styles/bourbon";
@import "../../styles/media_queries";

.table {
	font-size: .75rem;
    border: none;
	border-top: 1px solid $table-border-color;
    background-color: $body-bg;
    border-collapse: collapse;
    
    .calendar-date {
        z-index: 200;
        background-color: transparent;
    }
}

tr {
	border: none;
}

th, td {
	text-align: center;
	vertical-align: middle;
    font-size: .75rem;
    padding: .1rem;
	height: 1.75rem;
	border: none;
    position: relative;
    
    @include mobile-only {
        padding: 1rem;
        font-size: 2.5rem;
    }
}

td.selectable {
	cursor: pointer !important;
	/*border: 1px solid $table-border-color;*/
}

td.selectable:hover {
	background-color: $brand-primary;
	color: $body-bg;
}

td.selected {
	background-color: desaturate(lighten($brand-primary, 33%), 33%);
	color: $body-bg;
}

td.disabled {
	/*background-color: lighten($input-bg-disabled, 5%);*/
	color: desaturate(lighten($btn-link-disabled-color, 25%), 25%);
}

td.startDate, td.endDate {
    background-color: $brand-primary;
    color: $body-bg;
}

td.startDate:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    right: 0;
    background-color: transparent;    
    border-left: 1em solid transparent;
    border-top: 1.1em solid desaturate(lighten($brand-primary, 33%), 33%);
    border-bottom: 1.1em solid desaturate(lighten($brand-primary, 33%), 33%);
}

td.endDate:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    left: 0;
    background-color: transparent;
    border-right: 1em solid transparent;
    border-top: 1.1em solid desaturate(lighten($brand-primary, 33%), 33%);
    border-bottom: 1.1em solid desaturate(lighten($brand-primary, 33%), 33%);
}