@import "../../styles/bourbon";
@import "../../styles/variables";

.carousel {
    background-color: $gray-light;
}

.carousel-item {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
    overflow: hidden;
    
    @include transition-timing-function(ease);
    @include transition-duration($defaultAnimationSpeed);
    @include transition-property(transform);
    
    img {
        width: 100%;
        pointer-events: none;
    }
    
    &.hide {
        display: none !important;
    }
    
    &.active {
        display: block !important;
        @include transform(translate(0,0));
    }
    
    &.out-left {
        @include transform(translate(-100%,0));
    }
    
    &.out-right {
        @include transform(translate(100%,0));
    }
}