<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h2 class="card-title">Tabs</h2>
            <p class="card-text">TabSet is a custom component to display a tabbed interface</p>
        </div>
    </div>
</div>

<section class="row m-a">
    <div (click)="$event.preventDefault()">
    <p>Select a tab by setting active binding to true:</p>
    <p>
        <button type="button" class="btn btn-primary btn-sm" [disabled]="tabs[1].active" (click)="setActiveTab(1)">Select 2nd tab</button>
        <button type="button" class="btn btn-primary btn-sm" [disabled]="tabs[2].active" (click)="setActiveTab(2)">Select 3rd tab</button>
    </p>
    <p>
        <button type="button" class="btn btn-primary btn-sm" (click)="tabs[2].disabled = ! tabs[2].disabled">Enable/Disable 3rd tab</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="addTab()">Add a removable tab</button>
    </p>
    <hr />
    <tabset>
        <tab *ngFor="let theTab of tabs"
            [heading]="theTab.heading"
            [(active)]="theTab.active"
            [disabled]="theTab.disabled"
            [removable]="theTab.removable"
            (deselect)="deselectLog($event)"
            (select)="selectLog($event)"
            (remove)="removeLog($event)">
        {{theTab?.content}}
        </tab>
    </tabset>

    <hr />

    <tabset [vertical]="true" type="pills">
        <tab heading="Vertical 1">Vertical content 1</tab>
        <tab heading="Vertical 2">Vertical content 2</tab>
    </tabset>
    </div>
</section>

<div class="source">
<h3>Import</h3>
<pre>
<code class="language-javascript" code-highlight>
import {{'{'}}FuiTabModule{{'}'}} from 'fuel-ui'; //module
import {{'{'}}Tab, TabSet{{'}'}} from 'fuel-ui'; //class
</code>
</pre>

<h3>Getting Started</h3>
<p>TabSet is a custom element to show an interactive tabbed interface. Used in conjuction with the custom Tab element, TabSet can be displayed in a number of ways</p>

<h3>Usage</h3>
<tabset>
<tab heading="HTML">
<pre>
<code class="language-markup" code-highlight [innerHTML]="codeExample1">
</code>
</pre>
</tab>
<tab heading="TypeScript">
<pre>
<code class="language-javascript" code-highlight [innerHTML]="codeExample2">
</code>
</pre>
</tab>
</tabset>

<h3>TabSet Attributes</h3>
<table-sortable
    [columns]="tabSetAttributesColumns"
    [data]="tabSetAttributes"
    [sort]="tabSetAttributesSort">
    Loading table...
</table-sortable>

<h3>Tab Attributes</h3>
<table-sortable
    [columns]="tabAttributesColumns"
    [data]="tabAttributes"
    [sort]="tabAttributesSort">
    Loading table...
</table-sortable>

<h3>Tab Events</h3>
<table-sortable
    [columns]="tabEventsColumns"
    [data]="tabEvents"
    [sort]="tabEventsSort">
    Loading table...
</table-sortable>

</div>
