<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h2 class="card-title">Slider</h2>
            <p class="card-text">This is the NoUiSlider (from <a href="http://refreshless.com/nouislider/" target="_blank">Refreshless.com</a>), wrapped in an Angular2 component</p>
        </div>
    </div>
</div>
<div class="row" style="margin-left:9px;margin-top:45px;">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6" style="padding-bottom: 60px">
                <slider background="#E24932" step="5" pips="6" pipDensity="5"
                    [minValue]="minValue" [maxValue]="maxValue" [(value)]="singleSliderValue">
                </slider>
            </div>
            <div class="col-md-6">
                <slider background="#E24932" step="5" pips="6" pipDensity="5"
                    [minValue]="minValue" [maxValue]="maxValue" [(value)]="singleSliderValue"
                    orientation="vertical" height="200px">
                </slider>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <form>
                <div class="form-group row">
                    <label for="singleSliderValue" class="col-sm-4 form-control-label">Slider Value</label>
                    <div class="col-sm-4">
                        <input class="form-control" step="5" [(ngModel)]="singleSliderValue" [min]="minValue" [max]="maxValue" type="number" name="singleSliderValue">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2" style="padding-bottom: 50px">
                <slider background="#E24932" step="5" pips="6" pipDensity="5"
                    [minValue]="minValue" [maxValue]="maxValue" [(value)]="doubleSliderValue" [(secondValue)]="secondDoubleSliderValue"
                    orientation="vertical" height="200px">
                </slider>
            </div>
            <div class="col-md-6" style="margin-bottom:50px;">
                <slider background="#E24932" step="5" pips="6" pipDensity="5"
                    [minValue]="minValue" [maxValue]="maxValue" [(value)]="doubleSliderValue" [(secondValue)]="secondDoubleSliderValue">
                </slider>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="doubleSliderValue" class="col-sm-4 form-control-label">Slider Value</label>
                    <div class="col-sm-4">
                        <input class="form-control" step="5" [(ngModel)]="doubleSliderValue" [min]="minValue" [max]="secondDoubleSliderValue" type="number" name="doubleSliderValue">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="secondDoubleSliderValue" class="col-sm-4 form-control-label">Second Slider Value</label>
                    <div class="col-sm-4">
                        <input class="form-control" step="5" [(ngModel)]="secondDoubleSliderValue" [min]="doubleSliderValue" [max]="maxValue" type="number" name="secondDoubleSliderValue">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="source">
<h3>Import</h3>
<pre>
<code class="language-javascript" code-highlight>
import {{'{'}}Slider{{'}'}} from 'fuel-ui/fuel-ui';
</code>
</pre>
<h3>Getting Started</h3>
<p>Slider is a custom element to programmatically create range sliders</p>

<h3>Usage</h3>
<tabset>
<tab heading="HTML">
<pre>
<code class="language-markup" code-highlight>
&lt;!--horizontal--&gt;
&lt;slider background=&quot;#E24932&quot; step=&quot;10&quot; pips=&quot;6&quot; pipDensity=&quot;5&quot;
    [minValue]=&quot;minValue&quot; [maxValue]=&quot;maxValue&quot; [(value)]=&quot;sliderValue&quot;&gt;
&lt;/slider&gt;

&lt;!--vertical--&gt;
&lt;slider background=&quot;#E24932&quot; step=&quot;10&quot; pips=&quot;6&quot; pipDensity=&quot;5&quot;
    [minValue]=&quot;minValue&quot; [maxValue]=&quot;maxValue&quot; [(value)]=&quot;sliderValue&quot;
    orientation=&quot;vertical&quot; height=&quot;200px&quot;&gt;
&lt;/slider&gt;

&lt;!--horizontal with 2 values--&gt;
&lt;slider background=&quot;#E24932&quot; step=&quot;10&quot; pips=&quot;6&quot; pipDensity=&quot;5&quot;
    [minValue]=&quot;minValue&quot; [maxValue]=&quot;maxValue&quot; [(value)]=&quot;sliderValue&quot; [(secondValue)]=&quot;secondSliderValue&quot;&gt;
&lt;/slider&gt;

&lt;!--vertical with 2 values--&gt;
&lt;slider background=&quot;#E24932&quot; step=&quot;10&quot; pips=&quot;6&quot; pipDensity=&quot;5&quot;
    [minValue]=&quot;minValue&quot; [maxValue]=&quot;maxValue&quot; [(value)]=&quot;sliderValue&quot; [(secondValue)]=&quot;secondSliderValue&quot;
    orientation=&quot;vertical&quot; height=&quot;200px&quot;&gt;
&lt;/slider&gt;
</code>
</pre>
</tab>
<tab heading="TypeScript">
<pre>
<code class="language-javascript" code-highlight>
export class SliderExample{{'{'}}
    sliderValue: number = 20;
    secondSliderValue: number = 80;
    minValue: number = 0;
    maxValue: number = 100;
{{'}'}}
</code>
</pre>
</tab>
</tabset>

<h3>Attributes</h3>
<table-sortable
    [columns]="attributesColumns"
    [data]="attributes"
    [sort]="attributesSort">
    Loading table...
</table-sortable>

</div>